# Ignore directories
/dist
/reference

#Ignore zip files
*.zip

# Ignore log files
*.log

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore build artifacts
/build
/.cache

# Ignore environment files
.env
